---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		className,
		'rounded-full transition-colors duration-200',
		isActive && 'bg-black/[0.04] text-primary',
		isActive ? 'text-primary' : 'text-secondary hover:text-primary'
	]}
	{...props}
>
	<slot />
</a>
